.mobile-menu
	position: fixed
	top: 89px
	bottom: 0
	left: 0
	right: 0
	z-index: 200	
	background-color: black
	transform: translateX(100%)
	transition: transform .6s

	@media (max-width: 768px)
		top: 65px	

	&.active						
		transform: translateX(0)

	&__wrapper
		padding: 0 16px

	&__header		
		height: 64px
		border-bottom: 1px solid #272727

	&__header-cnt
		display: flex
		align-items: center
		justify-content: flex-end
		gap: 16px
		height: 64px
	
	&__logo		
		width: 106px
		height: 32px
		left: 20px
		top: 16px
		margin-right: auto

	&__menu
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)

		& ul
			display: flex
			flex-direction: column
			align-items: center
			gap: 54px
			padding: 0
			margin: 0

			& li
				list-style: none
				font-size: 18px
				text-align: center

				& a
					color: white
					text-decoration: none
